header {
    background-color:steelblue;
    padding: 13px 0;
}
.cart_icon {
    position:absolute;
    right: 190px;
    top: 33px;
    cursor: pointer;
}
.cart_icon:hover {
    cursor: pointer;
    color: black;
    background-color: lightsteelblue;
}
.cart_icon i {
    font-size: 30px;
    color: white;
    padding: 4px 7px;
}
.cart_value {
    position: absolute;
    top: -13px;
    right: -22px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 80%;
    padding: 1px 7px;
    font-weight: 800;
    font-size: 16px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 3px 8px;
    margin-left: 16%;
    margin-top: .5%;
    color: white;
    font-weight: 600;
    font-size: 24px;
    border-radius: 19%;
}

ul li:hover {
    cursor: pointer;
    color: black;
    background-color: lightsteelblue;
}
.active {
    background-color:rgb(29, 95, 149)
}
